* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background: #ffffff;
    padding: 18px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-btn {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 4px;
}

.hero {
    height: 90vh;
    background-image: url("water.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
    color: white;
    text-align: center;
    width: 60%;
}

.hero-content input {
    padding: 12px;
    width: 60%;
    margin-top: 15px;
}

.hero-content button {
    padding: 12px 22px;
    margin-top: 12px;
    background: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}

.feature-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px 60px;
    background-color: #ffffff;
    text-align: center;
}

.feature-box {
    width: 30%;
}

.icon {
    font-size: 60px;
    color: #0d6efd;
    margin-bottom: 20px;
}

.feature-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.feature-box p {
    color: #555;
    line-height: 1.6;
}


.split-section,
.image-section {
    width: 120vw;
    margin-left: calc(-50vw + 50%);
    display: flex;
    min-height: 520px;
}

.image-left,
.image-side {
    flex: 1;
    margin: 0;
    padding: 0;
}

.image-left {
    background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-right: auto ;
}

.text-right,
.text-side {
    flex: 1;
    padding: 130px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-right h2,
.text-side h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

.text-right p,
.text-side p {
    font-size: 18px;
    line-height: 1.7;
    color: #555;
    max-width: 560px;
}

.split-section.reverse {
    flex-direction: row-reverse;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.split-section {
    display: flex;
    width: 100%;
    min-height: 520px;
}


.text-area {
    flex: 1;
    padding: 120px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-area h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

.text-area p {
    font-size: 18px;
    line-height: 1.7;
    color: #555;
    max-width: 560px;
}


.image-area {
    flex: 1;
}

.image-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


@media (max-width: 900px) {
    .split-section {
        flex-direction: column;
    }

    .text-area {
        padding: 60px 40px;
        text-align: center;
    }

    .text-area p {
        margin: auto;
    }

    .image-area img {
        height: 300px;
    }
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}

.footer-left a {
    color: #0d6efd;
    text-decoration: underline;
    margin: 0 5px;
    font-size: 15px;
}

.footer-left span {
    margin: 0 5px;
}

.footer-left p {
    margin-top: 10px;
    color: #555;
    font-size: 14px;
}

.footer-right img {
    width: 36px;
    margin-left: 22px;
    cursor: pointer;
}

@media (max-width: 900px) {

    .split-section,
    .image-section {
        flex-direction: column;
        min-height: auto;
    }

    .image-left {
        height: 300px;
    }

    .image-side img {
        height: 300px;
    }

    .text-right,
    .text-side {
        padding: 70px 40px;
        text-align: center;
    }

    .text-right p,
    .text-side p {
        margin: auto;
    }

    .feature-section {
        flex-direction: column;
        gap: 40px;
    }

    .feature-box {
        width: 90%;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-right img {
        margin-left: 12px;
    }
}